POSTGRES_DB=logistica_db
POSTGRES_USER=logistica_user
POSTGRES_PASSWORD=cambiar_en_produccion
POSTGRES_PORT=5432

BACKEND_PORT=8000
SECRET_KEY=clave_super_secreta_para_jwt
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

FRONTEND_PORT=5173
VITE_API_URL=http://localhost:8000