# Variables de entorno
.env

# Dependencias de Python (si alguien instala localmente)
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt
.eggs/
*.egg-info/
dist/
build/

# Editor
.vscode/
.idea/
*.swp
*.swo

# Docker
*.log

# Base de datos local (si se genera)
*.db
*.sqlite

# Frontend (node_modules)
node_modules/
frontend/node_modules/

# Archivos de sistema
.DS_Store
Thumbs.db